<nav class="navbar navbar-expand-lg bg-custom" data-bs-theme="dark" >
    <div class="container-fluid">
      <a class="navbar-brand" href="{{ url_for('index') }}">MarketMaven</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          {% if current_user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{{ url_for('dashboard')}}">User profile</a>
          </li>
          {% endif %}
          <form method = "POST" action = "{{ url_for('search')}}"class="d-flex" role="search">
            {{ form.hidden_tag() }}
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name = "searched" style = "width: 550px">
            <button class="btn btn-outline-light" type="submit">Go</button>
          </form>
          <li class="nav-item">
           <a class="nav-link active" aria-current="page" href="{{ url_for('posts')}}">Todays Offers</a>
          </li>
         {% if current_user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{{ url_for('add_post')}}">Add Post</a>
            </li>
            {% if current_user.id == 1 %}
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{{ url_for('admin')}}">Admin</a>
            </li>
            {% endif %}
            <li class="nav-item">
              <a class="nav-link active "data-bs-toggle="modal" data-bs-target="#logoutModal" aria-current="page" href="{{ url_for('logout')}}">Logout</a>
            </li>
            <div class="modal fade" id="logoutModal" tabindex="-1" aria-labelledby="logoutModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title text-white" id="logoutModalLabel">Logout Confirmation</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <h7 class = "text-white">Are you sure you want to logout?</h7>
                  </div>
                  <div class="modal-footer">
                    <a href="{{ url_for('dashboard') }}" class="btn btn-success">Go back</a>
                    <a href="{{ url_for('logout') }}" class="btn btn-danger">Logout</a>
                  </div>
                </div>
              </div>
            </div>
            {% else %}
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{{ url_for('add_user')}}">Sign up</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{{ url_for('login')}}">Login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{{ url_for('about')}}">About</a>
            </li>
            {% endif %} 
        </ul>
      </div>
    </div>
  </nav>
