{% extends 'base.html' %}

{% block content %}
{% for message in get_flashed_messages() %}
	<div class="alert alert-warning alert-dismissible fade show" role="alert">
	  {{ message }}
	  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
	</div>
{% endfor %}

<h1>Today's Offers At MarketMaven </h1>
<div class="album py-5 bg-darkblue rounded">
  <div class="container">

    <div class="row row-cols-1 row-cols-md-2 g-3">
      {% for post in posts %}
      <div class="col">
        <div class="card shadow-sm">
          <img src="{{ url_for('static',filename = 'images/carosuel0.jpg')}}" class="card-img-top" alt="{{ post.shopname }}">
          <div class="card-body rounded-bottom" style="background-color: #0C2D48; color: whitesmoke">
            <h5 class="card-title">{{ post.shopname|safe }}</h5>
            <p class="card-text">{{ post.content|safe }}</p>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Address: {{ post.address|safe }}</li>
              <li class="list-group-item">Contact: {{ post.contact|safe }}</li>
              {% if post.offer.name %}
              <li class="list-group-item">Offer By: {{ post.offer.name|safe }}</li>
              {% endif %}
            </ul>
            <br/>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <a href="{{ url_for('post', id = post.id)}}" class="btn btn-outline-light">Know more</a>
                <a href="{{ url_for('edit_post', id = post.id)}}" class="btn btn-outline-light">Update Offer</a>
                <a href="{{ url_for('reviews')}}" class="btn btn-outline-light">Reviews</a>
              </div>
              <small class="text-body-secondary">{{ post.slug }}</small>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>

  </div>
</div>
<center>
<h3>Visit MarketMaven frequently for more updates!!</h3>
</center>
</body>
<br/>
<div class="container">
  <footer class="py-5">
    <div class="row">
      <div class="col-6 col-md-2 mb-3">
        <h5><strong>Get to know us</strong></h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">About Us</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Careers</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Press Releases</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Instagram</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Twitter</a></li>
        </ul>
      </div>

      <div class="col-6 col-md-2 mb-3">
        <h5><strong>Make Money</strong></h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Post on MarketMaven</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Buy things</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Offers</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Become an Affiliate</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">100% Protection</a></li>
        </ul>
      </div>

      <div class="col-6 col-md-2 mb-3">
        <h5><strong>Let Us Help You</strong></h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Help</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Technical Issues</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Your Account</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">FAQs</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">App Download</a></li>
        </ul>
      </div>

      <div class="col-md-5 offset-md-1 mb-3">
        <form>
          <h5>Any help required? Send us a message:</h5>
          <p>Please enter your email address and we will contact you.</p>
          <div class="d-flex flex-column flex-sm-row w-100 gap-2">
            <label for="newsletter1" class="visually-hidden">Email address</label>
            <input id="newsletter1" type="text" class="form-control" placeholder="Email address">
            <button class="btn btn-primary" style="background-color: #0C2D48; border-color: #0C2D48;">Send</button>
          </div>
        </form>
      </div>
    </div>

    <div class="d-flex flex-column flex-sm-row justify-content-between py-4 my-4 border-top">
      <p>© MarketMaven Pvt Ltd Company, India. All rights reserved.</p>
      <ul class="list-unstyled d-flex">
        <li class="ms-3"><a class="link-body-emphasis" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#twitter"></use></svg></a></li>
        <li class="ms-3"><a class="link-body-emphasis" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#instagram"></use></svg></a></li>
        <li class="ms-3"><a class="link-body-emphasis" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#facebook"></use></svg></a></li>
      </ul>
    </div>
  </footer>
</div>
{% endblock %}