{% extends 'base.html' %}

{% block content %}
    <br/>
    <h3>results matching your search : <em>{{ searched }}</em></h3>
    <br/>
    <br/>
    {% if posts %}
    {% for x in posts %}
    {{ x.shopname }} {{ x.slug }} <br/>
    {{ x.content|safe }}<br/>
    {{ x.address }}<br/>
    by {{ x.offer.name }} {{ x.contact }}<br/>
    <a href = "{{ url_for('post',id = x.id)}}"  class = "btn btn-secondary btn-sm">Know more</a>
    {% if x.offer_id == current_user.id %}
    <a href = "{{ url_for('edit_post',id = x.id)}}"  class = "btn btn-warning btn-sm">update offers</a>
    <a href = "{{ url_for('delete_post',id = x.id)}}"  class = "btn btn-danger btn-sm">remove offer</a>
    {% endif %}
    <br/><br/>
    {% endfor %}
    {% else %}
        sorry, no results found!!
    {% endif %}
{% endblock %}